<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <script src="/bootstrap.js"></script>
</head>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        /* background-image: url(dtubg.jpeg);
        background-repeat: no-repeat;
        height: 100%;
        width: 100%; */
        overflow: hidden;
        /* background-color: aliceblue; */
        background-color: aliceblue;

    }

    .img-dtu img {
        top: 53px;
        position: absolute;
        scale: 1;
    }

    @media (min-width: 950px) {
        .img-dtu img {
            /* top: 220px;
            position: absolute;
            scale: 3.3  !important; */
            height: 100%;
            width: 100%;
        }
    }


    .container {
        opacity: 0.9;
        position: relative;
        z-index: 8;
        margin: auto;
        width: 370px;
        padding: 30px;
        margin-top: 100px !important;
        background-color: antiquewhite !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }

    .container h1 {
        text-align: center;
        margin-bottom: 25px !important;

    }

    .container input {
        border-radius: 4px;

    }
</style>



<body>
  <%- include('./partials/flash')%>
  <%- include('./partials/navbar')%>

<form action="" method="post">


    <label for="Course" class="form-label">Batch Year</label>

    <select id="inputState" name="cr[year]" class="form-control">
    <option >Choose...</option>
    <%for(let s of batchyears){%>
    <option value="<%=s%>"  name="cr[year]"><%=s%></option>
    <%}%>
  </select>
  </div>

    <div class="mb-3">
    <label for="Course" class="form-label">Academic Programme</label>

    <select id="inputState" name="cr[aprog]" class="form-control">
    <option >Choose...</option>
    <%for(let aprog of aprogs){%>
    <option value="<%=aprog.aprog%>"   name="cr[aprog]"><%=aprog.name%></option>
    <%}%>
  </select>
  </div>
  


  <label for="Course" class="form-label">Semester</label>

  <select id="inputState" name="cr[sem]" class="form-control">
  <option >Choose...</option>
  <%for(let s of sem){%>
  <option value="<%=s%>"  name="cr[sem]"><%=s%></option>
  <%}%>
</select>
</div>

<button type="submit">Submit</button>
    
</form>

</body>

</html>