<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <script src="/bootstrap.js"></script>
</head>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        /* background-image: url(dtubg.jpeg);
        background-repeat: no-repeat;
        height: 100%;
        width: 100%; */
        overflow: scroll;
        /* background-color: aliceblue; */
        background-color: aliceblue;

    }

    .img-dtu img {
        top: 53px;
        position: absolute;
        scale: 1;
    }

    @media (min-width: 950px) {
        .img-dtu img {
            /* top: 220px;
            position: absolute;
            scale: 3.3  !important; */
            height: 100%;
            width: 100%;
        }
    }


    .container {
        opacity: 0.9;
        position: relative;
        z-index: 8;
        margin: auto;
        width: 370px;
        padding: 30px;
        margin-top: 100px !important;
        background-color: antiquewhite !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }

    .container h1 {
        text-align: center;
        margin-bottom: 25px !important;

    }

    .container input {
        border-radius: 4px;

    }
</style>



<body>
    <%- include('./partials/flash')%>
        <%- include('./partials/navbar')%>

            <form action="/admin/crInfo" method="post">
                <label for="year">
                    <input type="text" name="year" id="year" placeholder="Batch Year" value="2022">
                </label>
                <label for="aprog">
                    <input type="text" name="aprog" id="aprog" placeholder="Programme" value="<%=aprogInput%>">
                </label>
                <label for="sp_code">
                    <input type="text" name="sp_code" id="sp_code" placeholder="Specialization Code" value="<%=sp_codeInput%>">
                </label>

                <button type="submit">Submit</button>
            </form>

            <form action="/admin/excelCrInfo" method="post">
                <label for="year">
                    <input type="text" name="year" id="year" placeholder="Batch Year" value="2022">
                </label>
                <label for="aprog">
                    <input type="text" name="aprog" id="aprog" placeholder="Programme" value="<%=aprogInput%>">
                </label>
                <label for="sp_code">
                    <input type="text" name="sp_code" id="sp_code" placeholder="Specialization Code" value="<%=sp_codeInput%>">
                </label>

                <button type="submit">EXPORT AS EXCEL</button>
            </form>




            <%if(data){%>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>ROLL NUMBER</th>
                            <th>NAME</th>
                            <th>SUBJECTS</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% for(let s of data){%>
                            <tr>
                                <td rowspan="<%=s.currentSubjects.length+1%>">
                                    <%=s.roll_no%>
                                </td>
                                <td rowspan="<%=s.currentSubjects.length+1%>">
                                    <%=s.f_name%>
                                </td>

                                    <% for(let subject of s.currentSubjects){%>
                            <tr>
                                <td>
                                    <%=subject.sub_code%>
                                </td>

                            </tr>
                            <% }%>
                                </tr>
                                <% }%>

                    </tbody>

                </table>

                <%}%>



</body>

</html>